<!-- GTM Container placement set to automatic -->
<!-- Google Tag Manager (noscript) -->
				<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57L5SRZP" height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
                <!-- Preload -->
        <div class="preloader overflow-hidden">
            <div class="site-name"><span>SYNTHETIX</span></div>
            <div class="preloader-gutters">
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                                <div class="bar">
                    <div class="inner-bar"></div>
                </div>
                            </div>
        </div>
        <!-- /Preload -->
        
                    <button id="goTop" class="show">
            <span class="border-progress" style="--progress-angle: 360deg;"></span>
            <span class="ic-wrap">
            <span class="icon icon-long-arrow-alt-up-solid"><i class="fa-sharp fa-regular fa-arrow-up-long"></i></span>
            </span>
            </button>
        
    <div id="page" class="hfeed site">

		<header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
			<p class="main-title bhf-hidden" itemprop="headline"><a href="../index.html" title="Synthetix Labs" rel="home">Synthetix Labs</a></p>
			<style>.elementor-60 .elementor-element.elementor-element-6bb6f96{--display:flex;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}</style>		<div data-elementor-type="wp-post" data-elementor-id="60" class="elementor elementor-60">
				<div class="elementor-element elementor-element-6bb6f96 e-con-full e-flex e-con e-parent" data-id="6bb6f96" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f82ba4f elementor-widget elementor-widget-agenio_header_widget" data-id="f82ba4f" data-element_type="widget" data-e-type="widget" data-widget_type="agenio_header_widget.default">
				<div class="elementor-widget-container">
					        <!-- header area start -->
        <header class="header-style-one">

                        <!-- Top Bar -->
            <div class="header-top">
                <div class="header-top-inner">
                    <div class="left-icon">
                        <img src="../wp-content/themes/agenio/assets/images/icon/green-left.svg" alt="">
                    </div>
                    <p class="text">
                        WE ARE AVAILABLE FOR                        <span>DECEMBER PROJECTS</span>
                    </p>
                    <div class="right-icon">
                        <img src="../wp-content/themes/agenio/assets/images/icon/green-right.svg" alt="">
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="header-style-one-wrapper">

                    <!-- Logo -->
                    <div class="left-area square-dot">
                        <div class="logo-area">
                            <a href="../index.html" class="logo">
                                <img src="../wp-content/uploads/2026/05/logo-new.png" alt="Synthetix Labs">
                            </a>
                        </div>
                        <span class="square-shape top-left"></span>
                        <span class="square-shape bottom-left"></span>
                        <span class="square-shape top-right"></span>
                        <span class="square-shape bottom-right"></span>
                    </div>

                    <!-- Desktop Nav -->
                    <nav class="main-nav-area">
                        <ul id="menu-main-menu" class="list-unstyled wpr-desktop-menu"><li class="menu-item"><a href="/solutions/" class="main-element">Solutions</a></li><li class="menu-item"><a href="/platform/" class="main-element">Platform</a></li><li class="menu-item"><a href="/agents/" class="main-element">Agents</a></li><li class="menu-item active"><a href="/governance/" class="main-element">Governance</a></li><li class="menu-item"><a href="/why-synthetix/" class="main-element">Why Synthetix</a></li><li class="menu-item"><a href="/company/" class="main-element">Company</a></li><li class="menu-item"><a href="/resources/" class="main-element">Resources</a></li></ul>                    </nav>

                    <!-- CTA Button + Hamburger -->
                    <div class="button-area-start square-dot">
                        <a href="/contact/" class="wpr-btn btn-primary">
                            Contact Us                        </a>
                        <div class="menu-btn d-flex d-lg-none d-md-flex d-sm-flex" id="menu-btn">
                            <span class="line one"></span>
                            <span class="line two"></span>
                        </div>
                        <span class="square-shape top-left"></span>
                        <span class="square-shape bottom-left"></span>
                        <span class="square-shape top-right"></span>
                        <span class="square-shape bottom-right"></span>
                    </div>

                    <!-- Mobile Sidebar -->
                    <div id="side-bar" class="side-bar">
                        <div class="sidebar-inner">
                            <div class="mobile-menu-main">
                                <nav class="nav-main mainmenu-nav">
                                    <ul id="mobile-menu" class="list-unstyled wpr-desktop-menu"><li class="menu-item"><a class="main-element" href="/solutions/">Solutions</a></li><li class="menu-item"><a class="main-element" href="/platform/">Platform</a></li><li class="menu-item"><a class="main-element" href="/agents/">Agents</a></li><li class="menu-item active"><a class="main-element" href="/governance/">Governance</a></li><li class="menu-item"><a class="main-element" href="/why-synthetix/">Why Synthetix</a></li><li class="menu-item"><a class="main-element" href="/company/">Company</a></li><li class="menu-item"><a class="main-element" href="/resources/">Resources</a></li></ul>                                </nav>
                            </div>
                            <div class="button-area">
                                <a href="/contact/" class="wpr-btn btn-primary">
                                    Contact                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- header area end -->
        				</div>
				</div>
				</div>
				</div>
				</header>
