<div class="meta-list">
        <div class="meta-item">
            <i class="icon icon-user-solid"></i>
            <a href="/resources/blogs/author/nitin/" class="link">Nitin Sinha</a>
        </div>
        <div class="meta-item">
            <i class="icon icon-clock-solid"></i>
            <a href="/resources/blogs/2026/07/15/" class="link">July 15, 2026</a>
        </div>
        <div class="meta-item">
            <i class="icon icon-comments-solid"></i>
            <span>No Comments</span>
        </div>
    </div>
